<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/" method="post">
      <label for="">userName</label>
      <input type="text" name="userName" >
      <label for="">Age</label>
      <input type="text" name="age" >
      <button>submit </button>
      <h4>Student name is <%= arr[0].userName %>  </h4>
      <h4>Student age = <%= arr[0].age  %> </h4>
    </form>  

</body>
</html>